apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
spec:
  replicas: {{ .Values.replicas.payments }}
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
      - name: payments
        image: {{ .Values.image.registry }}/payments:{{ .Values.image.tag }}
        ports:
        - containerPort: 8080
